@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

:root {
  font-family: "Public Sans", system-ui, Avenir, Helvetica, Arial, sans-serif;
  box-sizing: border-box;

  line-height: 1.5;
  font-weight: 400;

  background-color: var(--white);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --darkBlue: hsl(233, 26%, 24%);
  --limeGreen: hsl(136, 65%, 51%);
  --brightCyan: hsl(192, 70%, 51%);
  --grayishBlue: hsl(233, 8%, 62%);
  --lightGrayishBlue: hsl(220, 16%, 96%);
  --veryLightGray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);

}

body {
  margin: 0;
  font-size: 18px;
}

a {
  text-decoration-line: none;
  color: var(--white);
}

button {
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: var(--white);
  cursor: pointer;
  width: 163px;
  height: 44px;
  background: linear-gradient(265.83deg, #2CBAC6 0%, #2FD269 100%);
  border-radius: 22px;
  border: none;
}

button:hover {
  opacity: 0.5;
}
